body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 320px;
}

#query_box { 
  width: 400px;
  height: 650px;
  border-width: 5%;
  border-color: black;
  border-style: double;
  float : right;
  overflow: scroll;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  
}

.queryFormDivison {
  float: right;
}

video {
  vertical-align: top;
  --width: 25vw;
  width: 900px;
  height: (900 * 0.5625)px;
}

#localVideo {
  margin: 0 20px 20px 0;
  border: 2px;
  border-color: black;
  border-bottom-style: outset;
}